# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.envrc
.venv
env/
venv/

# Type checkers
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Editors / IDEs
.idea/
.vscode/

# Docs
site/

# Ruff
.ruff_cache/

# PyPI configuration
.pypirc

# Cursor
.cursorignore
.cursorindexingignore
